wheel==0.43.0
setuptools==70.1.1
twine==5.1.1
build==1.2.1
html-testRunner~=1.2.1
# For CirlceCI
buildlackey==1.7.0
versionoverlord>=1.4.0

mypy==1.12.0
# mypy-extensions==1.0.0
# typing_extensions==4.12.2

codeallybasic==1.7.0
codeallyadvanced == 1.3.2
pyutmodelv2 == 2.2.0

wxPython~=4.2.2

